@import url("https://fonts.googleapis.com/css2?family=Qahiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;500&display=swap");

.packagesList {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
  gap: 25px;
}

.fourOFourContainer h1 {
  font-size: 300px;
  font-family: "Qahiri", sans-serif;
}

.newContainer {
  display: grid;
  grid-template-columns: 30px 30px;
}

.newFormContainer {
  text-align: left;
  background-color: rgb(251, 249, 248);
  border: 5px solid #ffce2e;
  margin-left: 100px;
  margin-top: 40px;
  padding: 30px;
  width: 550px;
  margin-bottom: 30px;
}

.newFormImg {
  margin-left: 700px;
  margin-top: 40px;
  height: 660px;
  width: 580px;
}

.form-control {
  width: 480px;
  font-size: 14px;
}

.detailsContainer {
  margin: 30px;
  text-align: left;
  font-family: "Barlow", sans-serif;
}

.detailsContainer img {
  height: 315px;
}

.detailsContainer h3 {
  text-decoration: overline;
}

.detailsButtons {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.editContainer {
  display: grid;
  grid-template-columns: 30px 30px;
}

.editFormContainer {
  text-align: left;
  background-color: rgb(251, 249, 248);
  border: 5px solid #ffce2e;
  margin-left: 100px;
  margin-top: 40px;
  padding: 30px;
  width: 550px;
  margin-bottom: 30px;
}

.editDetailImg {
  margin-left: 700px;
  margin-top: 40px;
  height: 660px;
  width: 580px;
}

.packageDetailsButton {
  font-size: 14px;
  background-color: #207eb4;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
}

a:hover {
  color: white;
}
