@import url("https://fonts.googleapis.com/css2?family=Qahiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

.imgContainer img {
  height: 70vh;
  width: 33.333vw;
}

.background {
  position: absolute;
  width: 100vw;
  height: 70vh;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.205);
}

.imgContainer img {
  z-index: 0;
}

.background .card {
  margin-left: 25vw;
  background-color: #124c6dca;
  color: white;
  border: none;
  margin-top: 48vh;
}

.background .card-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.est {
  display: flex;
  margin-top: 10vh;
  margin-left: 45vw;
}

.packagesList {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
  gap: 25px;
}

.fourOFourContainer h1 {
  font-size: 300px;
  font-family: "Qahiri", sans-serif;
}

.newContainer {
  display: grid;
  grid-template-columns: 30px 30px;
}

.newFormContainer {
  text-align: left;
  background-color: rgb(251, 249, 248);
  border: 4px solid #ffce2e;
  margin-left: 100px;
  margin-top: 40px;
  padding: 30px;
  width: 550px;
  margin-bottom: 30px;
}

.newFormImg {
  margin-left: 700px;
  margin-top: 40px;
  height: 660px;
  width: 580px;
}

.form-control {
  width: 480px;
  font-size: 14px;
}

.detailsContainer {
  margin: 30px;
  text-align: left;
  font-family: "Barlow", sans-serif;
}

.detailsContainer img {
  height: 315px;
}

.detailsContainer h3 {
  text-decoration: overline;
}

.detailsButtons {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.editContainer {
  display: grid;
  grid-template-columns: 30px 30px;
}

.editFormContainer {
  text-align: left;
  background-color: rgb(251, 249, 248);
  border: 4px solid #ffce2e;
  margin-left: 100px;
  margin-top: 40px;
  padding: 30px;
  width: 550px;
  margin-bottom: 30px;
}

.editDetailImg {
  margin-left: 700px;
  margin-top: 40px;
  height: 660px;
  width: 580px;
}

.packageDetailsButton {
  font-size: 14px;
  background-color: #124c6de8;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
}

a:hover {
  color: white;
}

.reviewCard {
  margin-bottom: 20px;
}

.reviewCard .card {
  background-color: rgb(251, 249, 248);
}

.reviewCardButton {
  text-align: right;
}

button {
  color: black;
  background-color: white;
}

.header5 {
  text-decoration: underline;
}

@media screen and (max-width: 430px) {
  .packagesList {
    display: grid;
    grid-template-columns: 350px;
    justify-items: center;
  }
  .newFormImg {
    display: none;
  }
  .newFormContainer {
    margin-left: 2vw;
    padding: 30px;
    width: 95vw;
    margin-bottom: 30px;
  }
  .form-control {
    width: 80vw;
  }
  .editFormContainer {
    margin-left: 2vw;
    padding: 30px;
    width: 95vw;
    margin-bottom: 30px;
  }
  
  .editDetailImg {
    display: none;
  }
  .background .card {
    margin-left: 25vw;
    margin-top: 30vh;
  }
  .imgContainer img {
    display: block;
    height: 40vh;
    width: 100vw;
  }
  .imgContainer .barcelona_img {
    display: none;
  }
  .est {
    margin-top: 2vh;
    margin-left: 32vw;
  }
  .background {
    position: absolute;
    width: 100vw;
    height: 80vh;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.205);
  }
  .nomadButton {
    width: 100%;
  }
}
