@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');


.packagesList {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
    gap: 25px;
}


.fourOFourContainer h1{
    font-size: 300px;
    font-family: 'Qahiri', sans-serif;
}

.newFormContainer {
    text-align: left;
    border: 5px solid;
    margin: 100px;
    padding: 50px;
}
